.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 330px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
}

.button {
  padding: 5px;
  border: none;
  font-size: 16px;
  background-color: rgb(245, 189, 164);
  border: 2px solid rgb(250, 144, 94);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgb(250, 144, 94);
}